.finish {
    max-height: 150px;
    margin: auto;
    display: block;
}

.goodjob{
    text-align: center;
}

.results{
    width: 90% !important;
    margin: auto !important;
}

/* .results > .results-column{

} */